<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase">
      <tr>
        <th
          colspan="4"
          class="py-1 text-lg font-normal text-black bg-[burlywood] text-center"
        >
          3. RESPONSABILIDADES
        </th>
      </tr>
      <tr class="bg-zinc-100">
        <th scope="col" class="px-6 py-3 text-center">
          Descripción de las responsabilidades
        </th>
        <th scope="col" class="px-6 py-3 text-center">Medidor de desempeño</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200">
        <td class="px-6 py-4">
          <div>
            <strong class="text-gray-800">3.1. LIBERACIÓN DE LA FACTIBILIDAD:</strong>
            <p class="text-gray-700">
              Recibir del GERENTE DE ADMINISTRACIÓN DE PEDIDOS Y SERVICIO AL
              CLIENTE los compromisos pactados con los clientes, analizar la
              factibilidad, establecer los recursos necesarios para la
              producción como, cantidad de personal necesario, herramentales
              para la producción, maquinaria, equipos e instalaciones.
            </p>
          </div>
        </td>
        <td class="px-6 py-4 bg-gray-50">
          <div>
            <p class="text-gray-700">
              Estudio de la factibilidad para la fabricación, documentado y
              firmado por todas las partes involucradas. Factibilidad en números
              %
            </p>
          </div>
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <td class="px-6 py-4">
          <div>
            <strong class="text-gray-800">3.2. PAQUETE TECNICO:</strong>
            <p class="text-gray-700">
              Recibir del proceso INGENIERIA DE DESARROLLO el paquete técnico
              completo para iniciar la producción de los nuevos modelos.
            </p>
          </div>
        </td>
        <td class="px-6 py-4 bg-gray-50">
          <div>
            <p class="text-gray-700">
              Validación y firma del check list del paquete técnico disponible
              para iniciar la producción. Paquete entregado conforme a fecha
              programada.
            </p>
          </div>
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <td class="px-6 py-4">
          <div>
            <strong class="text-gray-800">3.3. PRODUCTOS LIBERADOS PDP:</strong>
            <p class="text-gray-700">
              Validar, planear que los tiempos del proceso de implementación en
              el PDP se cumplan en tiempo con el objetivo de hacer factibles los
              nuevos proyectos en calidad, en tiempo, forma y la definición de
              los procesos, conforme requiere el GERENTE DE ADMINISTRACIÓN DE
              PEDIDOS Y SERVICIO AL CLIENTE fechas de entregas pactadas con los
              clientes.
            </p>
          </div>
        </td>
        <td class="px-6 py-4 bg-gray-50">
          <div>
            <p class="text-gray-700">
              Indicador de puntualidad de PDP implementación Versus Análisis de
              Factibilidad. Indicador de puntualidad PDP.
            </p>
          </div>
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <td class="px-6 py-4">
          <div>
            <strong class="text-gray-800">3.4. PROGRAMACIÓN DE LA SEMANA:</strong>
            <p class="text-gray-700">
              Actuar sobre el proceso de SEMANA DE PROGRAMACIÓN para que se
              elabore la programación de las fábricas, contemplando todos los
              documentos de seguimiento de la producción, abastecimiento de los
              materiales, herramentales, maquinaria, fecha de entrega, Etc.
            </p>
          </div>
        </td>
        <td class="px-6 py-4 bg-gray-50">
          <div>
            <p class="text-gray-700">
              Cumplimiento de los programas semanales y cierre de pedidos = < 3
              programas abiertos. Pares producidos Versus pares programados
            </p>
          </div>
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <td class="px-6 py-4">
          <div>
            <strong class="text-gray-800">3.5. EFICIENCIA: </strong>
            <p class="text-gray-700">
              Medir diariamente el desempeño (eficiencias) de los procesos,
              asegurar y controlar los resultados de esta medición para generar
              el presupuesto compatible con los sueldos a pagar. Supervisar y
              validar la correcta asignación de salarios de acuerdo con las
              categorías establecidas por la empresa y la gestión de las
              plantillas de producción.
              <span class="underline"
                >(ESTRUCTURA DE PUESTOS Y FUNCIONES OPERATIVAS)</span
              >
            </p>
          </div>
        </td>
        <td class="px-6 py-4 bg-gray-50">
          <div>
            <p class="text-gray-700">
              Medir y gestionar las deviaciones en la nómina conforme a la
              política establecida. Pares producidos Versus Eficiencia lograda %
            </p>
          </div>
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <td class="px-6 py-4">
          <div>
            <strong class="text-gray-800">3.6. RUTINUAS DEL SUPERVISOR:</strong>
            <p class="text-gray-700">
              Auditar los procesos de fabricación en conjunto con el líder del
              área Rutina del Supervisor y corroborar, en el documento de
              Rutinas del Supervisor que los procesos sean de acuerdo con lo
              implementado, conforme a las especificaciones de proceso y la
              muestra física.
            </p>
          </div>
        </td>
        <td class="px-6 py-4 bg-gray-50">
          <div>
            <span class="text-gray-700">
              Aseguramiento de los procesos de fabricación y registro en el
              documento Rutinas del Supervisor. Cumplimiento de los %
              Establecidos
              <ol>
                <li>1) Calidad 40%</li>
                <li>2) Meta de Producción 30%</li>
                <li>3) Programas abiertos =< 3 20%</li>
                <li>4) Orden y Limpieza 10%</li>
              </ol>
            </span>
          </div>
        </td>
      </tr>
      <tr class="border-b border-gray-200">
        <td class="px-6 py-4">
          <div>
            <strong class="text-gray-800">3.7. MEJORA CONTINUA:</strong>
            <p class="text-gray-700">
              Actuar continuamente como interlocutor para las acciones
              correctivas conforme sean necesarias para mejorar la satisfacción
              del cliente en todo lo que se refiere al proceso y mejora de la
              calidad, costos y productividad.
            </p>
          </div>
        </td>
        <td class="px-6 py-4 bg-gray-50">
          <div>
            <p class="text-gray-700">
              Gestionar los procesos de mejora y nuevos proyectos para mejorar
              la satisfacción del cliente. Acciones correctivas cerradas,
              Círculos de Calidad cerrados.
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
