<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead>
      <tr>
        <th
          colspan="4"
          class="py-1 text-lg font-normal text-black bg-[burlywood] text-center"
        >
          2. MISIÓN
        </th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr class="border-b border-gray-200">
        <td class="px-6 py-3" colspan="3">
          Establecer, planificar y tomar decisiones correctamente en los
          procesos, durante la manufactura de productos, asegurando que los
          recursos asignados sean optimizados no más de lo presupuestado, con el
          uso adecuado de las herramientas de ingeniería de procesos.
        </td>
      </tr>
    </tbody>
  </table>
</div>
