<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase">
      <tr>
        <th
          colspan="3"
          class="py-1 text-lg font-normal text-black bg-[burlywood] text-center"
        >
          7. AUTORIDADES
        </th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <tr class="border-b border-gray-200">
        <td class="px-6 py-3" colspan="3">
          <p flex justify-normal>
            1. Modificar metas de producción de acuerdo con el análisis de
            capacidades Factibilidad.
          </p>
          <p flex justify-normal>
            2. Modificar tiempos de las operaciones y en consecuencia el costo
            de la MO
          </p>
          <p flex justify-normal>
            3. Reacomodar personal operativo en base a competencias de
            producción.
          </p>
          <p flex justify-normal>
            4. Autorizar cambios de categoría de sueldos de personal de
            producción (Estructura de Puestos y Funciones Operativas)
          </p>
          <p flex justify-normal>
            5. Aceptar o rechazar candidatos a puestos de los procesos
            relacionados con la ingeniería
          </p>
          <p flex justify-normal>
            6. Detener procesos de fabricación que estén fuera de lo
            especificado en el Manual de Proceso.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
